.btnWrap {
  display: flex;
  gap: 15px;
}

.btn {
  cursor: pointer;
  height: 30px;
  min-width: 50px;
  border: none;
  background-color: rgb(65, 65, 69);
  border-radius: 5px;
  color: aliceblue;
}
.btn:hover {
  background-color: rgb(209, 203, 208);
  color: rgb(65, 65, 69);
}
